
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      font-family: Arial, sans-serif;
    }

    .intro {
      display: flex;
      padding: 40px;
      background-image:url("Mountains-ai.png");
      background-size: cover;
      background-position: center;
    }

    .intro-text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 24px;
      line-height: 1.5;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 10px; 

    }
    .text {
      align-items: center;
      padding: 20px;
      color:rgb(41, 41, 41); 

    }

    .intro-image {
      width: 300px;
      height: 300px;
      border-radius: 60%;
      object-fit: cover;
      margin-left: 20px;
    }

    .search {
      display: flex;
      justify-content: left;
      padding: 20px;
      padding-left: 0px;
      text-align: center;
    }

    .search-input {
      flex: 1 ;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 10px;
    }

    .button_1 {
      background-color: #89bef4;
      border: none;
      border-radius: 20px; 
      color: #fff; 
      padding: 10px 20px; 
      cursor: pointer;
      transition: background-color 0.3s ease; 
    }
    
    .button_1:hover {
      background-color: #6baee6; 
    }
    
    .projects {
      padding: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    .project {
      position: relative;
      height: 300px;
      overflow: hidden;
    }

    .project-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
    }

    .project:hover .project-image {
      transform: scale(1.1);
    }

    .project-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      font-size: 20px;
      font-weight: bold;
    }

    .timeline {
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .timeline-item {
      display: flex;
      align-items: center;
      margin: 20px;
    }

    .timeline-dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #333;
      margin-right: 10px;
    }

    .timeline-text {
      font-size: 18px;
    }
  